<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - FirstProgram</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>My Custom Header</h1>
        <nav>
            <a href="/Home/Index">Home</a>
            <a href="/Register/Register">Register</a>
            <a href="/Home/Privacy">GO to</a>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <p>© 2025 FirstProgram</p>
    </footer>
</body>
</html>
