@model StudentData

<h2>Add Student</h2>

<form method="post">
    Name: <input asp-for="Name" /><br /><br />
    Age: <input asp-for="Age" /><br /><br />
    <button type="submit">Save</button>
</form>
