@model StudentData

<h2>Edit Student</h2>

<form method="post">
        Name: <input asp-for="Name" /><br /><br />
        Age: <input asp-for="Age" /><br /><br />
        <button type="submit">Update</button>
</form>
